<!-- app/views/articles/_article_v1.html.erb -->
<div style="border: 2px solid green; padding: 10px; margin: 10px; background-color: #f0fff0;">

<h2 style="color: green; font-weight: bold;border-bottom: 2px solid green;"><%= article.title %></h2>
<p style="background-color: #aaa8a8ff;"><%= article.body %></p>

</div>
<div style="color: green;">This is Version 1 of the view</div>
