<div style="border: 2px solid green; padding: 10px; margin: 10px; background-color: #f0fff0;">
<h2 style="color: blue;"><%= article.title.upcase %></h2>
<p><%= truncate(article.body, length: 30) %></p>
<div style="color: red;">This is Version 2 </div>

</div>